* {
  margin: 8px;
  padding: 8px;
  background-color: rgb(149, 235, 238);
}

h1 {
  color: #e05a87;
  font-size: 40px;
  text-align: center;
}
h3 {
  color: black;
  font-size: 27px;
  text-align: center;
}

div {
  text-align: center;
}
.image {
  text-align: center;
  width: 400px;
  height: 300px;
  border-radius: 100%;
}

h4 {
  color: blue;
  font-size: 22px;
}

p {
  font-size: 18px;
}
ol {
  font-size: 18px;
}
ul {
  font-size: 18px;
}

form {
  font-size: 18px;
}
a {
  font-size: 18px;
}

select{
    background-color: aliceblue;
    color: #e05a87;
    border-color: #e05a87;
}

input{
    border-color: #e05a87;
    background-color: aliceblue;
    margin-left: 5px
}

a{
    color: #e05a87;
}